@import 'options';
@import 'mixins';


.clear {
  clear: both;
}

//////////////////////////////////////////////////////////
// GENERATE FLUID GRID ///////////////////////////////////
//////////////////////////////////////////////////////////

#{$unicorn-grid-namespace}-fluid {
    @extend %grid-general;
    @include clearfix;
    @include fluid-grid-specific ($unicorn-grid-column-namespace, $unicorn-grid-before-namespace, $unicorn-grid-after-namespace);
}


//////////////////////////////////////////////////////////
// GENERATE FIXED GRID ///////////////////////////////////
//////////////////////////////////////////////////////////

#{$unicorn-grid-namespace}-fixed {
    @extend %grid-general;
    @include clearfix;
    width: $unicorn-grid-fixed-grid-size;

    //CREATES A LIST (.c1, .c2, .c3)
    $full-list: create-list-names($unicorn-grid-num-columns, $unicorn-grid-column-namespace);

    //CALCULATE GRID SIZE
    $num-margins: $unicorn-grid-num-columns * 2;
    $remaining-space: $unicorn-grid-fixed-grid-size - ($num-margins * $unicorn-grid-fixed-margin);
    $column-width: floor($remaining-space / $unicorn-grid-num-columns);

    #{$full-list} {
      margin-right: $unicorn-grid-fixed-margin;
      margin-left: $unicorn-grid-fixed-margin;
    }

    //LOOP THROUGH AND CREATE COLUMNS
    @for $i from 1 through $unicorn-grid-num-columns {
        #{$unicorn-grid-column-namespace}#{$i} {
            width: calculate-fixed-column($i, $column-width);

            &.nb,
            &.na {
                width: calculate-fixed-column($i, $column-width) + $unicorn-grid-fixed-margin;
            }

            &.na.nb {
                width: calculate-fixed-column($i, $column-width) + ($unicorn-grid-fixed-margin * 2);
            }
        }

        #{$unicorn-grid-before-namespace}#{$i} {
            margin-left: calculate-fixed-spacer($i, $column-width);
        }

        #{$unicorn-grid-after-namespace}#{$i} {
            margin-right: calculate-fixed-spacer($i, $column-width);
        }
    }
}

@import 'responsive';
